<div class="d-flex align-items-center gap-3 mb-3">
    <span class="avatar"><%= @user.email.first.upcase %></span>
    <div>
      <div class="h4 mb-1 fw-bold"><%= @user.email %></div>
    </div>
  </div>
   <div class="card shadow-sm">
    <div class="card-header bg-white">目標（期間）を編集</div>
    <div class="card-body">
      <%= form_with url: profile_current_goal_path(@user), method: :post do |f| %>
        <div class="mb-2">
          <label class="form-label">タイトル</label>
          <%= text_field_tag "goal[title]", nil, class:"form-control", placeholder:"例：TOEIC 750" %>
        </div>

        <div class="row g-2">
          <div class="col">
            <label class="form-label">開始日</label>
            <%= date_field_tag "goal[start_date]", nil, class:"form-control" %>
          </div>
          <div class="col">
            <label class="form-label">目的日（空なら開始+3ヶ月）</label>
            <%= date_field_tag "goal[target_date]", nil, class:"form-control" %>
          </div>
        </div>

        <div class="mb-3 mt-2">
          <label class="form-label">説明（任意）</label>
          <%= text_area_tag "goal[description]", nil, rows:3, class:"form-control" %>
        </div>

        <%= submit_tag "作成", class:"btn btn-success" %>
      <% end %>
  </div>
  <% @goals.each do |g| %>
  <%= button_to "HOMEで表示",
        profile_current_goal_path(@user, goal_id: g.id),
        method: :post, class:"btn btn-outline-primary btn-sm" %>

  <%= link_to "Goal詳細", goal_path(g), class:"btn btn-outline-secondary btn-sm ms-1" %>
<% end %>
  </div>