<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Target date:</strong>
    <%= goal.target_date %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= goal.progress %>
  </p>

  <p>
    <strong>User:</strong>
    <%= goal.user_id %>
  </p>

</div>
